h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
.bookmarklet{
	background:#fff !important;
	z-index:99999999999 !important;
	top:15px;
	right:15px;
	position:fixed;
	padding:0;
	margin:0;
	height:280px !important;
}
.bookmarklet iframe{
	border:1px solid #333;
	padding:0;
	margin:0;

}
.bookmarklet .close_wishy{
	position:absolute;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	background:url('https://57756013ce7f3a0180deaaba76f233116a572c86.cloudapp.appcelerator.com/images/close.png');
	cursor:pointer;
}

.button {

	
	
}
