html,body{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;	
   width:100%;
   margin:0;
   padding:0;
   background:#fff;
}
p{
	line-height: 1.1;
	font-size: 11px;
	margin:0;
	padding:0;
}
body{
	padding-top:45px;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

.header{
	background: #401940; /* Old browsers */
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	font-weight:lighter;
	letter-spacing: 2px;
	position:fixed;
	top:0px;
}

button,.button{
	display: block;
	width: 230px !important;
	border: 1px solid #d3d5da;
	padding: 5px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	margin: 10px auto;
	background:#c0c0c0;
	color:#000;
	text-decoration: none;	
	text-align: center;
}
input{
	display: block;
	width: 230px;
	border: 1px solid #d3d5da;
	padding: 5px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	margin: 10px auto;
}
.centered{
	width:240px;
	margin:0 auto;
}

.image-holder{
	width:150px;
	height:150px;
	overflow:hidden;
	border:1px solid #fff;
}
.image-holder img{
	height:auto;
	min-height: 150px;
	width:150px;
}
.facebook_login{
	background:url(../images/facebook_signin.png) 0px 0px;
	width:150px;
	height:23px;
	display:block;
	margin: 0 auto;
}
.facebook_login:hover{
	background-position: 0px 23px;
}
