.wishyButton{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffc022 0%,
		#c88b12);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffc022),
		to(#c88b12));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #515356;
	-moz-box-shadow:
		0px 1px 3px rgba(081,083,086,0.5),
		inset 0px 0px 1px rgba(204,204,204,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(081,083,086,0.5),
		inset 0px 0px 1px rgba(204,204,204,0.7);
	box-shadow:
		0px 1px 3px rgba(081,083,086,0.5),
		inset 0px 0px 1px rgba(204,204,204,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	color:#000;

}