<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.daniel-jenkins.com/wishy/wishy-styles.css">
  </head>
  <body ng-controller="wishy" class="wishy">
  	<div class="header">
  		<h4>New Wish.</h4>
  	</div>

  	<!--<div class="close_wishy" ng-click="close()">
  	</div>-->

    <div>
    	<h4>{{Data.title}}</h4>
    </div>
    <p> There is {{img.length}} images to choose from </p>
    <div>
		<div ng-repeat="image in img">
			<a href="{{Data.referUrl}}"><img src="{{image.src}}" width="175"/></a>
		</div>

		<label for="price"> </label>
		<input type="text" name="price">

		<label for="price"> </label>
		<input type="text" name="price">

		<button type="submit" value="submit">


    </div>
  </body>
  <script>

	//declare controller & var scope;
	function wishy($scope) {

		if(location.hash){

	  		var allWishyImages 	= location.hash;
	  		var useImages 		= {};

	  		if(/^#tags:/.test(allWishyImages)){
	  			useImages = JSON.parse(allWishyImages.substr(6));
	  			$scope.img = useImages;
	  		}

		}

		$scope.close = function() {
			console.log("clicked close");
		}

	  	$scope.Data = {
	  		referUrl : document.referrer
	  	}
	}

	function unparam(s){ var a={},i,c;s=s.split('&');for(i=0,c=s.length;i<c;i++)if(/^([^=]+?)(=(.*))?$/.test(s[i]))a[RegExp.$1]=decodeURIComponent(RegExp.$3||'');return a };

  </script>
</html>