.bookmarklet{
	background:#fff;
	z-index:99999999999 !important;
	top:15px;
	right:15px;
	position:fixed;
	-moz-box-shadow: 0 0 3px 3px  #f3f3f3;
	-webkit-box-shadow: 0 0 3px 3px #f3f3f3;
	box-shadow: 0 0 3px 3px  #f3f3f3;
	padding:0;
	margin:0;
}
.bookmarklet iframe{
	border:1px solid #333;
	padding:0;
	margin:0;

}
input ,
textarea {
	float:left;
	width:100%;
	margin:5px;
	height:40px;
	border:1px solid #fff;	
}
.close_wishy{
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	background: #000;
}