<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/window-style.css">
    
  </head>
  <body ng-controller="wishy" class="wishy">
  	<div class="header">
  		<h4>WishyList</h4>
  	</div>
    <div>
    	<h4>{{Data.title}}</h4>
    </div>
    <!--<p> There is {{img.length}} images to choose from </p>-->
    <div class="centered">
		<div ng-repeat="image in img">
			<div class="image-holder">
				<a href="{{Data.referUrl}}"><img src="{{image.src}}" /></a>
			</div>
		</div>
		<button type="submit" value="submit" name="submit">Add to WishyList</button>
		<p><%= id %></p>
		<p><%= username %></p>
		<p><%= fullname %></p>	
		<% 


		<a href="/logoff"> Logout </a>

		<form action="/api/addWish" method="POST">
			<button type="submit">AddWish</button>
		</form>

    </div>
  </body>
  <script>

	//declare controller & var scope;
	function wishy($scope) {

		if(location.hash){

	  		var allWishyImages 	= location.hash;
	  		var useImages 		= {};

	  		if(/^#tags:/.test(allWishyImages)){
	  			useImages = JSON.parse(allWishyImages.substr(6));
	  			$scope.img = useImages;
	  		}

		}

		$scope.close = function() {
			console.log("clicked close");
		}

	  	$scope.Data = {
	  		referUrl : document.referrer
	  	}
	}

  </script>
</html>