<!doctype html>
  	<head>
	    <link rel="stylesheet" type="text/css" href="/css/window-style.css">
	    
	</head>
	<body>
		
  	<div class="header">
  		<h4>WishyList</h4>
 	</div>		
			<form action="/login" method="POST">
            	<input type="text" placeholder="username" name="username">
            	<input type="password" placeholder="password" name="password">
	          	<button class="btn primary" type="submit">Sign in</button>
	        </form>
	        <a href="/new" class="button" >Sign up! </a>
</html>