<!doctype html>
  	<head>
	    <link rel="stylesheet" type="text/css" href="/css/window-style.css">
	    <script src="/js/cookies.js"></script>
	</head>
	<body>
	<div id="fb-root"></div>
	<script>
	  // Additional JS functions here
	  window.fbAsyncInit = function() {

	    FB.init({
	      appId      : '216554988521828', // App ID
	      channelUrl : '', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });

	  };

	  // Load the SDK asynchronously
	  	(function(d){
	     	var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     	if (d.getElementById(id)) {return;}
	     	js = d.createElement('script'); js.id = id; js.async = true;
	     	js.src = "//connect.facebook.net/en_US/all.js";
	     	ref.parentNode.insertBefore(js, ref);
	   	}(document));


	function initFB(){

	FB.Event.subscribe('auth.login', function() { processLogin() } );

	function processLogin(){
	  if(FB.getSession() != null){ 
	    FB.api('/me', function(user) {
	      if(user != null) {	

	      	console.log(user);

	      }
	    });
	  }
	}

// https://graph.facebook.com/oauth/authorize?response_type=code&client_id=216554988521828&redirect_uri=https://57756013ce7f3a0180deaaba76f233116a572c86.cloudapp.appcelerator.com&scope=user_birthday%2Cuser_location%2Cemail%2Cpublish_actions
		FB.login(function(response) {
		   	if (response.authResponse) {
		     	
		     	FB.api('/me', function(response) {
		       		console.log(response);

		       		var name = document.getElementById('name');
		       			name.value = response.name;

		       		var email = document.getElementById('email');
		       			email.value = response.email;

		       		var username = document.getElementById('username');
		       			username.value = response.username;			       					       			


		     	});
		   	} else {
		     	console.log('User cancelled login or did not fully authorize.');
		   }
		 },{scope: 'email'});
		
	}
	</script>

  	<div class="header">
  		<h4>WishyList</h4>
 	</div>		

	<form action="/newuser/add" method="POST">
    	<input type="text" placeholder="name" name="name" id="name">		
    	<input type="text" placeholder="Username" name="username" id="username">
		<input type="text" placeholder="Email" name="email" id="email">            	
    	<input type="password" placeholder="Password" name="password">
    	<input type="password" placeholder="Confirm Password" name="passwordConf">
      	<button class="btn primary" type="submit">Sign in</button>
    </form>
    <a href="#" onclick="initFB()" class="facebook_login"></a>

	<fb:login-button onclick="aw_fb_login();" scope="publish_stream,user_birthday,email" login_text="Login via Facebook" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=148385388567192&amp;locale=en_US&amp;login_text=Login%20via%20Facebook&amp;scope=publish_stream%2Cuser_birthday%2Cemail&amp;sdk=joey"><span style="vertical-align: bottom; width: 139px; height: 22px; ">
	<iframe name="f4336326" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:login_button Facebook Social Plugin" style="border: none; visibility: visible; width: 139px; height: 22px; " src="https://www.facebook.com/plugins/login_button.php?app_id=148385388567192&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df2bda2f384%26domain%3Dwww.gamerfood.com%26origin%3Dhttps%253A%252F%252Fwww.gamerfood.com%252Ff9e16cef%26relation%3Dparent.parent&amp;locale=en_US&amp;login_text=Login%20via%20Facebook&amp;scope=publish_stream%2Cuser_birthday%2Cemail&amp;sdk=joey" class=""></iframe>
</span>
</fb:login-button>

</html>